.ks_woo_img{
    width: 30%;
}

.ks_name_style{
    color: #7b7bad !important;
    margin: 5px;
    }

.px-0 {
    padding: 0  !important;
}

.instance_dashboard{
    width: 47%;
    min-height: 205px;
    background: #f0f8ff;
}

.dashboard_content{
    max-width: unset;
    padding: 0;
}

.dashboard_inner_section{
    height: 90px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    margin-left: 45px;
}

.dashboard_inner_section_label{
    height: 90px;
    align-items: center;
    vertical-align: center;
}

.dashboard_card_manager{
    width: 100%;
}

.dashboard_counts{
    max-width: 112px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.woo-inner-box {
    display: block;
}
.woo-footer-box {
    font-weight: 600;
    margin-top: 20px;
}
.dashboard_footer {
    height: 50px;
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    padding-right: 15px !important;
    width: 20%;
    text-align: center;
    padding: 5px 5px;
    vertical-align: m;
    align-items: center;
    justify-content: center;
    position: relative;

 }
.o_kanban_view.o_kanban_dashboard.o_account_kanban.o_kanban_ungrouped .woo-box-width {
    max-width: 407px !important;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.woo-header-box {
    background: #e2e2e2;
    padding: 1px 16px;
    margin-bottom: 30px;
}
.h-unset {
    height: unset;
}
.woo-record-count {
    max-width: 62px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    color: #444444;
}